/* You can add global styles to this file, and also import other style files */
html {
    height: 100%;
}

body {
    background-image: url('https://github.com/dominika-zajac/zgaduj-zgadula/blob/step-2/src/assets/background.png?raw=true');
    height: 100%;
    font-family: fantasy;
    color: whitesmoke;
    font-size: 26px;
}